<header class="navbar navbar-fixed-top navbar-inverse">
  <div class="navbar-inner">
    <div class="container">
    <%= link_to image_tag("title_logo.png", alt: "logo"), root_path, id: "logo" %>

      <nav>
        <ul class="nav pull-right">
          <li><%= link_to "|　ヘルプ", help_path %></li>
          <li><%= link_to "|　 仕事を探す",  work_path %></li>
          <li><%= link_to "|　 仕事を依頼する", request_path %></li>
          <% if signed_in? %>
            <li id="fat-menu" class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                |　アカウント <b class="caret"></b>
              </a>
              <ul class="dropdown-menu">
                <li><%= link_to "プロフィール", current_user %></li>
                <li><%= link_to "設定", edit_user_path(current_user) %></li>
                <li class="divider"></li>
                <li>
                  <%= link_to "ログアウト", signout_path, method: "delete" %>
                </li>
              </ul>
            </li>
          <% else %>
            <li><%= link_to "|　ログイン　 |", signin_path %></li>
            <%= link_to "会員登録する", signup_path,
                                class: "btn btn- btn-warning" %>
          <% end %>
        </ul>
      </nav>
    </div>
  </div>
</header>